---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import PreviewContent from "../components/PreviewContent.astro";
---

<Layout title="ShastraOS Preview">
  <main class="relative">
    <Header transition:animate="fade" />
    <div class="smooth-scroll">
      <div class="relative transition-all isolate px-6 pt-14 lg:px-8 mb-56">
        <div
          class="absolute inset-x-0 -z-50 overflow-hidden blur-3xl"
          aria-hidden="true"
        >
          <div
            class="back animate-roam relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#e0e0e0] to-[#797979] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
            style={{
              clipPath:
                "polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)",
            }}
          >
          </div>
        </div>
        <PreviewContent />
        <div
          class="absolute inset-x-0 top-[calc(100%-13rem)] -z-50 overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
          aria-hidden="true"
        >
          <div
            class="animate-roam1 relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#e0e0e0] to-[#797979] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
            style={{
              clipPath:
                "polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)",
            }}
          >
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  * {
    transition: all 2s ease-in-out;
  }
  .smooth-scroll {
    scroll-behavior: smooth;
  }
  .custom {
    height: 100%;
    width: 100%;
  }
  .animate__animated.animate__fadeInRightBig {
    --animate-duration: 0s;
  }
</style>
