---

---

<style>
  html,
  body {
    height: 100%;
  }

  .parent-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  .page-content {
    flex: 1 0 auto;
  }

  footer {
    flex-shrink: 0;
  }
</style>
<footer class="bg-primary bg-opacity-5">
  <div class="parent-container">
    <div class="page-content">
      <section class="w-5/6 mx-auto">
        <div
          class="flex gap-y-6 sm:flex-row flex-col-reverse justify-between py-8"
        >
          <div class="flex flex-col gap-y-6">
            <h1 class="text-primary font-extrabold text-1xl">ShastraOS</h1>
            <p class="text-gray-400 sm:w-4/6 w-full">
              Experience the web3 ecosystem and build the dapps on on your
              computers. Powering blockchains with Linux.
            </p>
          </div>
          <!-- <div class="flex flex-col gap-y-2">
            <h1 class="text-primary text-xl font-bold">Social Links</h1>
            <div
              class="fill-primary stroke-primary flex sm:justify-end justify-start gap-4 flex-nowrap"
            >
              <a
                aria-label="Twitter"
                href="https://twitter.com/shastraos"
                class="flex flex-row items-center justify-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  x="0px"
                  y="0px"
                  width="30"
                  height="30"
                  viewBox="0,0,256,256"
                >
                  <g
                    fill="#b9bfc7"
                    fill-rule="nonzero"
                    stroke="none"
                    stroke-width="1"
                    stroke-linecap="butt"
                    stroke-linejoin="miter"
                    stroke-miterlimit="10"
                    stroke-dasharray=""
                    stroke-dashoffset="0"
                    font-family="none"
                    font-weight="none"
                    font-size="none"
                    text-anchor="none"
                    style="mix-blend-mode: normal"
                    ><g transform="scale(5.12,5.12)"
                      ><path
                        d="M50.0625,10.4375c-1.84766,0.82031 -3.82812,1.37109 -5.91016,1.62109c2.125,-1.27344 3.75781,-3.28906 4.52344,-5.6875c-1.98437,1.17578 -4.19141,2.03125 -6.53125,2.49219c-1.875,-2 -4.54687,-3.24609 -7.50391,-3.24609c-5.67969,0 -10.28516,4.60156 -10.28516,10.28125c0,0.80469 0.09375,1.58984 0.26953,2.34375c-8.54687,-0.42969 -16.12109,-4.52344 -21.19531,-10.74609c-0.88672,1.52344 -1.39062,3.28906 -1.39062,5.17187c0,3.56641 1.8125,6.71484 4.57422,8.5625c-1.6875,-0.05469 -3.27344,-0.51953 -4.66016,-1.28906c0,0.04297 0,0.08594 0,0.12891c0,4.98438 3.54688,9.13672 8.24609,10.08594c-0.85937,0.23438 -1.76953,0.35938 -2.70703,0.35938c-0.66406,0 -1.30859,-0.0625 -1.9375,-0.1875c1.3125,4.08203 5.10938,7.0625 9.60547,7.14453c-3.51562,2.75781 -7.94922,4.39844 -12.76953,4.39844c-0.83203,0 -1.64844,-0.04687 -2.44922,-0.14453c4.54687,2.92188 9.95312,4.62109 15.76172,4.62109c18.91406,0 29.25781,-15.66797 29.25781,-29.25391c0,-0.44531 -0.01172,-0.89453 -0.02734,-1.33203c2.00781,-1.44922 3.75,-3.26172 5.12891,-5.32422z"
                      ></path></g
                    ></g
                  >
                </svg>
              </a>
              <a
                aria-label="Gitlab"
                href="https://gitlab.com/shastraos"
                class="flex flex-row items-center justify-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  x="0px"
                  y="0px"
                  width="30"
                  height="30"
                  viewBox="0,0,256,256"
                >
                  <g
                    fill="#b9bfc7"
                    fill-rule="nonzero"
                    stroke="none"
                    stroke-width="1"
                    stroke-linecap="butt"
                    stroke-linejoin="miter"
                    stroke-miterlimit="10"
                    stroke-dasharray=""
                    stroke-dashoffset="0"
                    font-family="none"
                    font-weight="none"
                    font-size="none"
                    text-anchor="none"
                    style="mix-blend-mode: normal"
                    ><g transform="scale(5.12,5.12)"
                      ><path
                        d="M38.01172,4c-0.4375,-0.00391 -0.82812,0.27344 -0.96484,0.69141l-4.97266,15.30859h-14.14844l-4.97266,-15.30859c-0.13281,-0.40234 -0.50391,-0.67969 -0.92969,-0.69141c-0.42578,-0.00781 -0.80859,0.25 -0.96094,0.64844l-5.99219,15.99219c-0.00391,0 -0.00391,0.00391 -0.00781,0.00781l-3,8c-0.15625,0.42188 -0.01562,0.89453 0.35156,1.16016l21.99219,15.99219l0.00391,0.00781c0.00391,0 0.00391,0 0.00391,0.00391c0.01172,0.00781 0.02734,0.01563 0.03906,0.02344c0.01563,0.00781 0.02734,0.01953 0.04297,0.02734c0.00391,0 0.00391,0.00391 0.00781,0.00391c0,0 0.00391,0.00391 0.00781,0.00391c0.00391,0.00391 0.00781,0.00781 0.01563,0.00781c0.00391,0.00391 0.01172,0.00781 0.01563,0.01172c0.01953,0.00781 0.04297,0.01953 0.06641,0.02734c0,0 0,0 0,0.00391c0.02344,0.00781 0.04688,0.01563 0.06641,0.02344c0.00391,0 0.00391,0 0.00781,0.00391c0.01563,0.00391 0.03125,0.00781 0.05078,0.01563c0.00781,0 0.01563,0.00391 0.02734,0.00391c0,0.00391 0,0.00391 0,0c0.01953,0.00781 0.03906,0.01172 0.05859,0.01563c0.02734,0.00391 0.05078,0.00781 0.07813,0.01172c0.03906,0 0.08203,0.00391 0.12109,0.00391c0.03906,-0.00391 0.07422,-0.00391 0.10938,-0.01172c0.01563,0 0.02734,0 0.04297,-0.00391c0,0 0.00391,0 0.00781,0c0.00781,-0.00391 0.01172,-0.00391 0.01953,-0.00391c0.00391,0 0.00781,-0.00391 0.01563,-0.00391c0.00781,-0.00391 0.01953,-0.00391 0.02734,-0.00781c0.01563,-0.00391 0.02734,-0.00781 0.03906,-0.01172c0.00781,0 0.01172,0 0.01563,-0.00391c0.00391,0 0.00781,0 0.01172,0c0.01563,-0.00781 0.03516,-0.01562 0.05078,-0.01953c0.01953,-0.00781 0.03516,-0.01562 0.05078,-0.02344c0.00391,0 0.00391,0 0.00781,-0.00391c0.00391,0 0.00781,0 0.01172,-0.00391c0.00781,-0.00391 0.01563,-0.00781 0.02344,-0.01172c0.02344,-0.01172 0.04297,-0.02344 0.0625,-0.03516c0.00781,-0.00391 0.01172,-0.00781 0.01563,-0.01172c0.00391,0 0.00781,-0.00391 0.01172,-0.00391c0.01563,-0.01172 0.03125,-0.01953 0.04688,-0.03125l0.00781,-0.01172l21.99219,-15.98828c0.36328,-0.26562 0.50391,-0.73828 0.34766,-1.16016l-2.99219,-7.97266c-0.00391,-0.00781 -0.00781,-0.01953 -0.00781,-0.02734l-6,-16c-0.14844,-0.38672 -0.51172,-0.64453 -0.92578,-0.64844zM8.06641,22h8.40625l5.85547,18.01563zM33.52734,22h8.40625l-14.26172,18.01563zM6.3125,23.00781l13.375,16.89453l-15.48437,-11.26172zM43.6875,23.00781l2.10938,5.63281l-15.48437,11.26172z"
                      ></path></g
                    ></g
                  >
                </svg>
              </a>
            </div> -->
          </div>
        </div>
        <hr class="text-primary opacity-10" />
        <h1 class="text-primary text-sm text-center py-4">
          Proudly <a class="font-bold" href="/">Open Source</a>
        </h1>
      </section>
    </div>
  </div>
</footer>
