---
import "@fontsource/inter/100.css";
import "@fontsource/inter/200.css";
import "@fontsource/inter/300.css";
import "@fontsource/inter/400.css";
import "@fontsource/inter/500.css";
import "@fontsource/inter/600.css";
import "@fontsource/inter/700.css";
import "@fontsource/inter/800.css";
import "@fontsource/inter/900.css";
import { SEO } from "astro-seo";
const canonicalURL = new URL(Astro.url.pathname, Astro.url.origin).toString();
const resolvedImageWithDomain = new URL(
  "/image.jpeg",
  Astro.url.origin
).toString();

interface Props {
  title: string;
}

const { title } = Astro.props;
import { ViewTransitions } from "astro:transitions";
import preload from "astro-preload";
const makeTitle = title ? title : "ShastraOS";
---

<!doctype html>
<html lang="en">
  <head>
    <ViewTransitions />
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={makeTitle}
      description="complete web3 ecosystem on bare metal"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <script src="../utils/aos.js"></script>
    <style is:global>
      * {
      }
      img {
        content-visibility: auto;
      }
      body {
        font-family: "Inter", sans-serif;
        background-color: rgb(20, 20, 20);
        background:
          linear-gradient(90deg, #171717 21px, transparent 1%) center,
          linear-gradient(#151515 21px, transparent 1%) center,
          #585858;
        background-size: 22px 22px;
        overflow-x: hidden;
      }

      body .cursor {
        position: fixed;
        z-index: 100;
        height: 15px;
        width: 15px;
        border-radius: 36px;
        background-color: rgba(255, 255, 255, 0.75);
        box-shadow:
          0 0 24px 0 #0000001a,
          0 1px 0 0 #0000;
        pointer-events: none;
        transition: all 200ms ease-out;
        left: -18px;
        top: -18px;
        box-sizing: border-box;
      }
      ::-webkit-scrollbar {
        width: 10px;
      }

      ::-webkit-scrollbar-track {
        background-color: rgb(20, 20, 20);
        -webkit-border-radius: 10px;
        border-radius: 10px;
      }

      ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: #5b5b5b;
      }
    </style>
  </body>
</html>
