html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
hr {
	margin-top: 2em;
	margin-bottom: 2em;
	border: 1px solid rgb(213, 217, 218);
}
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-thumb {
	background: rgb(211, 218, 218);
	border-radius: 5px;
}

::-webkit-scrollbar-track {
	margin: 5px;
	width: 5px;
	height: 5px;
	background-color: transparent;
}
.container {
	min-height: 100vh;
	padding: 0 0.5rem;
}

header {
	position: sticky;
	background-color: rgb(216, 233, 235);
	background: radial-gradient(
		86.36% 107.55% at 6.49% 12.32%,
		rgba(234, 238, 238, 0.7) 0%,
		rgba(224, 230, 228, 0.7) 100%
	);
	backdrop-filter: blur(16px);
	border-radius: 20px;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	z-index: 5;
	padding: 10px;
	top: 5px;
	box-sizing: border-box;
	border: 1px solid rgba(238, 238, 238, 0.651);
}
header img {
	width: 50px;
	height: 50px;
	border: 1px solid transparent;
	box-shadow: 0px 0px 15px rgb(221, 221, 221);
	border-radius: 15px;
	transition: 0.5s;
}
header img:hover {
	box-shadow: none;
	border: 4px solid rgb(238, 238, 238);
}
header a {
	text-decoration: none;
}
.alignItems {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 2em;
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	gap: 4px;
	border-radius: 8px;
	padding: 8px 20px;
	font-weight: bold;
	outline: none;
	cursor: pointer;
	border: none;
	transition: 0.4s;
	/* background-color: #e2e2e2; */
	/* color: black; */
	color: rgb(218, 251, 255);
	background-color: rgb(23, 29, 29);
}
button:hover {
	transform: scale3d(1.05, 1.05, 1.05);
	box-shadow: 0px 1px 20px #f3f3f3;
}
ul {
	list-style-type: none;
}
ul li {
	border-radius: 7px;
	background-color: rgb(238, 238, 238);
	padding: 0.5em 1em;
	margin: 1em;
	font-size: 1.5rem;
	width: fit-content;
}
h2 {
	/* color: grey; */
	width: fit-content;
	background-image: linear-gradient(90deg, #00a9e8, #00f382);
	background-clip: text;
	color: transparent;
}
h3 {
	color: black;
}
h4 {
	margin-bottom: 0;
}
p {
	margin-top: 0;
}
a {
	color: inherit;
	/* text-decoration: none; */
}

* {
	box-sizing: border-box;
}
footer {
	position: sticky;
	bottom: 0;
	background-color: rgba(142, 158, 158, 0.329);
	backdrop-filter: blur(16px);
	border-radius: 10px;
	width: 100%;
	height: 50px;
	border-top: 1px solid rgba(238, 238, 238, 0.651);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
	top: 15px;
	box-sizing: border-box;
	border: 1px solid rgba(238, 238, 238, 0.651);
}
footer a {
	text-decoration: none;
}

@media (max-width: 501px) and (min-width: 1270px) {
	header {
		margin: 5px 6rem;
	}
}
@media (min-width: 1271px) {
	header {
		margin: 5px 10rem;
	}
}

.mockupContainer {
	animation: mockupContainerAni infinite 4s;
	animation-direction: alternate;

}

@keyframes mockupContainerAni {
	0% {
		transform: perspective(600px) rotateX(-2deg) rotateY(-2deg);
	}
	100% {
		transform: perspective(600px) rotateX(2deg) rotateY(2deg);
	}
}
